@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;

  --color-primary-50: #f0f9f0;
  --color-primary-100: #def3de;
  --color-primary-200: #c2e7c2;
  --color-primary-300: #99d499;
  --color-primary-400: #68b968;
  --color-primary-500: #439d43;
  --color-primary-600: #328132;
  --color-primary-700: #296629;
  --color-primary-800: #265126;
  --color-primary-900: #1f431f;
  --color-primary-950: #0e240e;

  --color-secondary-50: #fcf8ee;
  --color-secondary-100: #f8efd8;
  --color-secondary-200: #f0dbae;
  --color-secondary-300: #e7c27d;
  --color-secondary-400: #dfa650;
  --color-secondary-500: #d88b2e;
  --color-secondary-600: #bb6c24;
  --color-secondary-700: #94501f;
  --color-secondary-800: #79401f;
  --color-secondary-900: #64361e;
  --color-secondary-950: #391b0d;

  --animate-fade-in: fadeIn 0.5s ease-out;
  --animate-slide-up: slideUp 0.5s ease-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@layer base {
  html {
    font-family: var(--font-sans);
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-800 bg-gray-50 antialiased;
  }
}